.pagination {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem;
    .pageNumberBox {
        border: 0.1rem solid black;
        display: flex;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    .currentPageNumberBox {
        border: 0.1rem solid black;
        display: flex;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
        color: red;
        background-color: lightgray;
        transform: scale(1.1);
    }
}
