.output {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem 0 2rem;
        .card {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 1rem;
        }
    }
}
