.output {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0.5rem 0 0.5rem;
        .card {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 1rem;
        }
    }
}
.loader {
    // here is styling to make loader in a middle of visible screen
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 48rem) {
    .output {
        padding: 0.5rem 2rem;
    }
}
